/* background color */
.bg_color {
    background-color: #aeddf5;
}

/* alignment of the small buttons */
#align {
    text-align: center;
    margin-bottom:45%;
}

#align button{
    margin: 15px 20px;
    border: 1px outset black;
}

/* alignment of project pages */
#align_link {
    text-align: center;
}

#align_link button{
    margin: 0px 50px;
    border: 1px outset black;
}
