/* for the background */
body {
	background-color: #62A8E5;
  opacity: 0.5;
}

/* Intro Paragraph */
.transbox {
  position: relative;
  width: 40%;
  margin-left: 20%;
  background-color: #ffffff;
  opacity: 0.5;
  word-wrap: break-word;
}

/* general paragraph */
p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24pt;
  font-family: "Archivo";
  color: black;
  margin: 10px;
  opacity: 1.0;
  text-align: right;
}

/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #686868;
    opacity: 0.8;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* to center things */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}







