/* for the background */
body {
	background-color: white;
}

/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* for the header line */
#top{
	font: ubuntu, helvetica, arial;
	text-align: center;
	margin-left: 60 px;
}

/* general paragraph */
p {
	font: 13pt/1 arial, "Times New Roman";
	text-align: left;
	color: slategray;
	margin: 20px;
}

strong {
	font-weight: bold;
	font-size: 14pt;
}

/* alignment of the small buttons */
#align {
	text-align: left;
}

#align button{
	margin: 15px 20px;
	border: 5px outset black;
}

/* alignment of project pages */
#align_link {
	text-align: left;
}

#align_link button{
	margin: 0px 50px;
	border: 5px outset black;
}

/* links */
a:link {
	text-decoration: underline;
	color: blue;
}

a:active {
	color: darkblue;
}

a:hover {
	color: blue;
	background-color: lightblue;
}

a:visited {
	text-decoration: underline;
	color: purple;
}
