{% extends "layout.html" %}

{% block style %} 
<style>

    h1{
        color: #740a1f; 
        font-family: 'Helvetica Neue', sans-serif; 
        font-size: 100px; 
        line-height: 1;
        margin-top: 20%;
        text-align: center;
    }
    h2{
        color: #740a1f; 
        font-family: 'Helvetica Neue', sans-serif; 
        font-size: 20px; 
        letter-spacing: 2px; 
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
        
</style>
{% endblock %} 

{% block content %}
<h1>Hi, I'm Vivian.</h1>
<h2>I'm a PhD candidate at Carnegie Mellon's Robotics Institute,<br> with a focus on conservation robotics.</h2>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <a class="visited" href="/">
            <img class="activefire" src="static/images/redfire.png" alt="nav">
            <div class="icon_desc">Start Page</div>
        </a>
        <a href="/professional"><div class="fire">
            <img class="normal" src="static/images/blackfiree.png" alt="nav">
            <img class="filledin" src="static/images/filled_in_fire.png" alt="filled in">
            <p class="icon_desc">Professional</p>
        </div></a>
        <a href="/hobbies"><div class="fire">
            <img class="normal" src="static/images/blackfiree.png" alt="nav">
            <img class="filledin" src="static/images/filled_in_fire.png" alt="filled in">
            <p class="icon_desc">Hobbies</p>
        </div></a>
        <a href="/connect"><div class="fire">
            <img class="normal" src="static/images/blackfiree.png" alt="nav">
            <img class="filledin" src="static/images/filled_in_fire.png" alt="filled in">
            <p class="icon_desc">Connect with me</p>
        </div></a>
        <a href="/full"><div class="fire">
            <img class="normal" src="static/images/blackfiree.png" alt="nav">
            <img class="filledin" src="static/images/filled_in_fire.png" alt="filled in">
            <p class="icon_desc">Home Page</p>
        </div></a>
    </div>
</div>
{% endblock %} 





