{% extends "layout.html" %}

{% block style %} 
<style>
    .photocircle{
        margin-top: 10%;
        margin-bottom: 30px;

    }
    .meimg{
        height: 200px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .icon{
        height: 50px;
        width: auto;
        margin-left: 30px;
        margin-right:30px;
        margin-bottom: 30px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row photocircle">
    <img class="meimg" src="static/images/avatar.png" alt="Me!">
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
        <img class="icon" src="static/images/resume.png" alt="resume">
        <img class="icon" src="static/images/email.png" alt="resume">
        <img class="icon" src="static/images/linkedin.png" alt="resume">
        <img class="icon" src="static/images/github.png" alt="resume">
        <img class="icon" src="static/images/devpost.png" alt="resume">
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <a href="/" data-title="start">
            <img class="activefire" src="static/images/redfire.png">
        </a>
        <a href="/professional" data-title="professional">
            <img class="activefire" src="static/images/redfire.png"/>
        </a>
        <a href="/hobbies" data-title="hobbies">
            <img class="activefire" src="static/images/redfire.png"/>
        </a>
        <a href="/connect" data-title="connect">
            <img class="activefire" src="static/images/redfire.png"/>
        </a>
        <a href="/full" data-title="home">
            <img class="fire" src="static/images/blackfiree.png"/>
        </a>
    </div>
</div>
{% endblock %}





