{% extends "layout.html" %}

{% block style %} 
<style>
    h3{
        color: #740a1f; 
        font-family: 'Helvetica Neue', sans-serif;
        line-height: 1.5;
        font-size: 20px; 
        letter-spacing: 2px; 
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="row description">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3>I graduated in 2019 from Columbia's School of Engineering with a BS in computer science.</h3>
        <h3>I've interned at NASA's JPL, Disney Research, the San Diego Zoo's Conservation Research Insitute, and Conservation X Labs.</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-5">
        <a href="/" data-title="start">
            <img class="activefire" src="static/images/redfire.png">
        </a>
        <a href="/professional" data-title="professional">
            <img class="activefire" src="static/images/redfire.png"/>
        </a>
        <a href="/hobbies" data-title="hobbies">
            <img class="fire" src="static/images/blackfiree.png"/>
        </a>
        <a href="/connect" data-title="connect">
            <img class="fire" src="static/images/blackfiree.png"/>
        </a>
        <a href="/full" data-title="home">
            <img class="fire" src="static/images/blackfiree.png"/>
        </a>
    </div>
</div>
{% endblock %}





