<!DOCTYPE html>
<html>

<head>
	
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css"></link>
	<script type="text/javscript" src="/js/main.js" ></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

</head>

<body>
	<nav>
   		<ul>
       		<li><a href="/photography">Photography</a></li>
       		<li><a href="/meprojects">Mech Eng Projects</a></li>
       		<li><a href="/csprojects">CS Projects</a></li>
       		<li><a href="/cv">CV</a></li>
	      	<li><a href="/about">About</a></li>
       		<li><a href="/">Home</a></li>
    	</ul>
	</nav>

	<div class="container">
			
			{{ content }}
			
	</div><!-- /.container -->

</body>

</html>
