<!DOCTYPE html>
<html>

<head>
	
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css"></link>
	<script type="text/javscript" src="/js/main.js" ></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

</head>

<body>
	<nav>
   		<ul>
       		<li><a href="/photography">Photography</a></li>
       		<li><a href="/meprojects">Mech Eng Projects</a></li>
       		<li><a href="/csprojects">CS Projects</a></li>
       		<li><a href="/cv">CV</a></li>
	      	<li><a href="/about">About</a></li>
       		<li><a href="/">Home</a></li>
    	</ul>
	</nav>

	<div class="container">
			
			{{ content }}
			
	</div><!-- /.container -->

	<footer>
		<div id="align">
			<button type="submit"><a href="https://www.linkedin.com/in/vivianhshen"><img src="/images/linkedin.jpg" alt="linked-in" height="30px" width="auto"/></a></button>
			<button type="submit"><a href="https://www.github.com/vivikyung"><img src="/images/github.jpg" alt="github" height="30px" width="auto"/></a></button>
			<button type="submit"><a href="mailto:vivian.shen@columbia.edu"><img src="/images/gmail.jpg" alt="email" height="30px" width="auto"/></a></button> 
		</div>
	</footer>
</body>

</html>
