{% extends "dragndrop.html" %}

{% block script %}<script type="text/javascript" src="{{ url_for('static', filename = 'accessories.js') }}"></script>
<script>
    var head={{head|tojson}}
    var neck={{neck|tojson}}
    var outfit={{outfit|tojson}}
    var currdate = {{currdate|tojson}}
</script>
{% endblock %}

{% block style3 %}
<style>
    #accessory{
        background-color: blue;
    }
    .accessory{
        padding: 10px;
    }
</style>
{% endblock %}

{% block cat1_css %}#head_header{% endblock %}
{% block cat2_css %}#neck_header{% endblock %}
{% block cat1_header %}<div class="col-md-5" id="head_header">Head</div>{% endblock %}
{% block cat2_header %}<div class="col-md-5" id="neck_header">Neck</div>{% endblock %}
{% block cat1_entries %}<div class="col-md-5 centered" id="head"></div>{% endblock %}
{% block cat2_entries %}<div class="col-md-5 centered" id="neck"></div>{% endblock %}