{% extends "dragndrop.html" %}

{% block script %}<script type="text/javascript" src="{{ url_for('static', filename = 'bottoms.js') }}"></script>
<script>
    var pants={{pants|tojson}}
    var shorts={{shorts|tojson}}
    var outfit={{outfit|tojson}}
    var currdate = {{currdate|tojson}}
</script>
{% endblock %}

{% block style3 %}
<style>
    #bottoms{
        background-color: blue;
    }
</style>
{% endblock %}

{% block cat1_css %}#pants_header{% endblock %}
{% block cat2_css %}#shorts_header{% endblock %}
{% block cat1_header %}<div class="col-md-5" id="pants_header">Long</div>{% endblock %}
{% block cat2_header %}<div class="col-md-5" id="shorts_header">Short</div>{% endblock %}
{% block cat1_entries %}<div class="col-md-5 centered" id="pants"></div>{% endblock %}
{% block cat2_entries %}<div class="col-md-5 centered" id="shorts"></div>{% endblock %}