{% extends "layout.html" %}

{% block script %}<script type="text/javascript" src="{{ url_for('static', filename = 'caloverview.js') }}"></script>
<script>
    var trips={{trips|tojson}}
    var tripname={{tripname|tojson}}
</script>
{% endblock %}
{% block style %} 
<style>
    .date_header{
      border-top: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      text-align: center;
      padding-top: 5px;
      font-size: 16pt;
      font-weight:bold;
    }
    .day_header{
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      border-right: 1px solid black;
      text-align: center;
      padding-bottom: 5px;
      font-size: 12pt;
      font-weight:bold;
    }

    .pad{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tname{
        text-align: center;
        background-color: #bbe5ea;
        border-radius: 20px;
    }

    .centered{
        text-align: center;
    }
    .disp{
      display: block;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row pad">
        <div class="col-md-1"><a href="/calendars"><button type="button" class="btn btn-block btn-outline-secondary">Back</button></a></div>
        <div class="col-md-3"></div>
        <div class="col-md-4 tname"><h3>{{tripname}}</h3></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1"><button id="prev" type="button" class="btn btn-block btn-outline-secondary"><-</button></div>
        <div class="col-md-2 date_header" id="date1"></div>
        <div class="col-md-2 date_header" id="date2"></div>
        <div class="col-md-2 date_header" id="date3"></div>
        <div class="col-md-2 date_header" id="date4"></div>
        <div class="col-md-1"><button id="next" type="button" class="btn btn-block btn-outline-secondary">-></button></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2 day_header" id="day1"></div>
        <div class="col-md-2 day_header" id="day2"></div>
        <div class="col-md-2 day_header" id="day3"></div>
        <div class="col-md-2 day_header" id="day4"></div>
        <div class="col-md-1"></div>
    </div>
    <div class="row pad">
        <div class="col-md-2"></div>
        <div class="col-md-2 centered" id="clothes1"></div>
        <div class="col-md-2 centered" id="clothes2"></div>
        <div class="col-md-2 centered" id="clothes3"></div>
        <div class="col-md-2 centered" id="clothes4"></div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}