{% extends "overview.html" %}

{% block script %}{% endblock %}
{% block style2 %} 
<style>
    .labels{
        margin-top: 10px;
    }
    .calendar{
        margin-left: 15px;
    }
    .clothing{
        background-color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .moving{
        cursor: move;
        background-color: lightyellow;
    }
    .droppable{
        background-color: #fcff6b;
    }
    .readydrop{
        background-color: #ffde07;
    }
    .pad{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    {% block cat1_css %}{% endblock %}{
        text-align: center;
        padding: 15px;
        font-size: 20pt;
        font-weight:bold;
        border: 1px solid black;
    }
    {% block cat2_css %}{% endblock %}{
        text-align: center;
        padding: 15px;
        font-size: 20pt;
        font-weight:bold;
        border: 1px solid black;
    }

    .disp {
        display: block;
    }
    .disp:hover{
        background-color: rgb(255,160,122,0.2);
    }
    .disp:hover img{       
        cursor: pointer;
    }
</style>

{% block style3 %} {% endblock %}

{% endblock %}

{%block dragndrop %}
<div class="row">
    {% block cat1_header %}<div class="col-md-5" id="cat1_header">Category 1</div>{% endblock %}
    <div class="col-md-1"></div>
    {% block cat2_header %}<div class="col-md-5" id="cat2_header">Category 2</div>{% endblock %}
    <div class="col-md-1"></div>
</div>
<div class="row pad">
    {% block cat1_entries %}<div class="col-md-5" id="cat1_id"></div>{% endblock %}
    <div class="col-md-1"></div>
    {% block cat2_entries %}<div class="col-md-5" id="cat2_id"></div>{% endblock %}
    <div class="col-md-1"></div>
</div>
{% endblock %}
