{% extends "layout.html" %}

{% block script %}<script type="text/javascript" src="{{ url_for('static', filename = 'makenew.js') }}"></script>
<script>
    var trips = {{trips|tojson}}
</script>
{% endblock %}
{% block style %} 
<style>
    input {
        background: rgba(255,255,255,0.4);
        text-align: center;
        position: relative;
        display: block;
        outline: none;
        height: 40px;
        margin: 0 auto;
        margin-top: 20px;
        padding: 10px;
        color: grey;
        font-size: 18pt;
        font-color: black;
    }
    ::-webkit-input-placeholder { color: #666;} 
    :-moz-placeholder { color: #666; }
    ::-moz-placeholder { color: #666; }
    :-ms-input-placeholder { color: #666; }

    #loc{
        height: 20px;
        margin: 0 auto;
        margin-top: 10px;
        color: grey;
        font-size: 12pt;
        font-color: black;
    }

    .date-picker {
        background: #f7f6f3;
        margin: auto;
        width: 260px;
        height: auto;
        max-height: 50px;
        position: relative;
        overflow: hidden;
        transition: all 0.3s 0s ease-in-out;
    }
    .date-picker .input {
        width: 100%;
        height: 50px;
        font-size: 0;
        cursor: pointer;
    }
    .date-picker .input .result, .date-picker .input button {
        display: inline-block;
        vertical-align: top;
    }
    .date-picker .input .result {
        width: calc(100% - 50px);
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        padding: 0 10px;
        color: grey;
        box-sizing: border-box;
    }
    .date-picker .input button {
        width: 50px;
        height: 50px;
        background-color: #8392A7;
        color: white;
        line-height: 50px;
        border: 0;
        font-size: 18px;
        padding: 0;
    }
    .date-picker .input button:hover {
        background-color: #68768A;
    }
    .date-picker .input button:focus {
        outline: 0;
    }
    .date-picker .calendar {
        position: relative;
        width: 100%;
        background: #fff;
        border-radius: 0px;
        overflow: hidden;
    }
    .date-picker .ui-datepicker-inline {
        position: relative;
        width: 100%;
    }
    .date-picker .ui-datepicker-header {
        height: 100%;
        line-height: 50px;
        background: #8392A7;
        color: #fff;
        margin-bottom: 10px;
    }
    .date-picker .ui-datepicker-prev, .date-picker .ui-datepicker-next {
        width: 20px;
        height: 20px;
        text-indent: 9999px;
        border: 2px solid #fff;
        border-radius: 100%;
        cursor: pointer;
        overflow: hidden;
        margin-top: 12px;
    }
    .date-picker .ui-datepicker-prev {
        float: left;
        margin-left: 12px;
    }
    .date-picker .ui-datepicker-prev:after {
        -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
        margin: -43px 0px 0px 8px;
    }
    .date-picker .ui-datepicker-next {
        float: right;
        margin-right: 12px;
    }
    .date-picker .ui-datepicker-next:after {
        -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg);
        margin: -43px 0px 0px 6px;
    }
    .date-picker .ui-datepicker-prev:after, .date-picker .ui-datepicker-next:after {
        content: "";
        position: absolute;
        display: block;
        width: 4px;
        height: 4px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    .date-picker .ui-datepicker-prev:hover, .date-picker .ui-datepicker-next:hover, .date-picker .ui-datepicker-prev:hover:after, .date-picker .ui-datepicker-next:hover:after {
        border-color: #68768A;
    }
    .date-picker .ui-datepicker-title {
        text-align: center;
    }
    .date-picker .ui-datepicker-calendar {
        width: 100%;
        text-align: center;
    }
    .date-picker .ui-datepicker-calendar thead tr th span {
        display: block;
        width: 100%;
        color: #8392A7;
        margin-bottom: 5px;
        font-size: 13px;
    }
    .date-picker .ui-state-default {
        display: block;
        text-decoration: none;
        color: #b5b5b5;
        line-height: 40px;
        font-size: 12px;
        text-align: center;
    }
    .date-picker .ui-state-default:hover {
        background: rgba(0, 0, 0, 0.02);
    }
    .date-picker .ui-state-highlight {
        color: #68768A;
    }
    .date-picker .ui-state-active {
        color: #68768A;
        background-color: rgba(131, 146, 167, 0.12);
        font-weight: 600;
    }
    .date-picker .ui-datepicker-unselectable .ui-state-default {
        color: #eee;
        border: 2px solid transparent;
    }
    .date-picker.open {
        max-height: 400px;
    }
    .date-picker.open .input button {
        background: #68768A;
    }

    .centered{
        text-align: center;
    }
    .disp{
        display: block;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row trip">
        <div class="col-md-4"></div>
        <div class="col-md-4 centered">
            <input type="text" id="tname" placeholder="Trip Name"/>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row trip">
        <div class="col-md-4"></div>
        <div class="col-md-4 disp">
            <input type="text" id="loc" placeholder="City"/>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-6 centered"><h2>Trip Start</h2></div>
        <div class="col-md-6 centered"><h2>Trip End</h2></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="date-picker">
                <div class="input">
                    <div class="result" id="startdate"><span></span></div>
                    <button><i class="fa fa-calendar"><img src="/static/images/calendar_icon.png" width=40px height=40px></i></button>
                </div>
                <div class="calendar" id="tstart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="date-picker">
                <div class="input">
                    <div class="result" id="enddate"><span></span></div>
                    <button><i class="fa fa-calendar"><img src="/static/images/calendar_icon.png" width=40px height=40px></i></button>
                </div>
                <div class="calendar" id="tend"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2"><button id="start" type="button" class="btn btn-block btn-outline-primary pad">Start</button></div>
        <div class="col-md-5"></div>
    </div>
{% endblock %}