{% extends "layout.html" %}

{% block script %}<script type="text/javascript" src="{{ url_for('static', filename = 'overview.js') }}"></script>
<script>
    var outfit = {{outfit|tojson}}
    var currdate = {{currdate|tojson}}
</script>
{% endblock %}
{% block style %} 
<style>
    .btn-xl{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .date_header{
      border: 1px solid black;
      text-align: center;
      padding: 10px;
      font-size: 20pt;
      font-weight:bold;
    }
    #day_header{
      font-size: 12pt;
    }

    .buts{
      width: 100%;
    }

    .buts ul{
      width: 600px;

    }

    .buts ul li{
      font-family: tahoma,arial;
      display: inline-block;
      text-align: center;
      width: 80px;
      padding: 5px;
      font-size: 20px;
      background-color: #A5CCD1;
      color: #ffffff;
      margin: 0;
      position: relative;
      cursor: pointer;

    }

    .buts ul li .left_span{
      position: absolute;
      top: 0;
      left: 0;
      width: 6px;
      height: 0%;
      background-color: #d6fbff;
    }

    .buts ul li .right_span{
      position: absolute;
      top: 0;
      right: 0;
      width: 6px;
      height: 0%;
      background-color: #d6fbff;
    }

    .buts ul li:hover span{
      height: 100%;
      transition: all .5s ease-in-out;
    }

    .buts ul li:hover{
      color: #d6fbff;
      /* padding-top: 15px; */
      transition: all .5s ease-in-out;
    }

    .centered{
        text-align: center;
    }

    .padbot{
      padding-bottom: 10px;
    }
</style>
{%block style2 %} {% endblock %}
{% endblock %}

{%block content %}
<div class="row buttons pad">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="buts">
                    <ul>
                      <a href="/tops"><li id="tops"><span class="left_span"></span><span class="right_span"></span>Tops</li></a>
                      <a href="/bottoms"><li id="bottoms"><span class="left_span"></span><span class="right_span"></span>Bottoms</li></a>
                      <a href="/shoes"><li id="shoes"><span class="left_span"></span><span class="right_span"></span>Shoes</li></a>
                      <a href="/accessories"><li id="accessories"><span class="left_span"></span><span class="right_span"></span>Other</li></a>
                    </ul>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        {% block dragndrop %} {% endblock %}
    </div>
    <div class="col-md-4" id="calendar">
        <div class="row padbot">
            <div class="col-md-1"></div>
            <div class="col-md-4"><button id="prev" type="button" class="btn btn-block btn-outline-secondary">Prev</button></div>
            <div class="col-md-2"></div>
            <div class="col-md-4"><button id="next" type="button" class="btn btn-block btn-outline-secondary">Next</button></div>          
        </div>
        <div class="dhead">
          <div class="row date_header">
            <div class="col-md-8">
              <div class="row"><div class="col-md-12" id="date_header"></div></div>
              <div class="row"><div class="col-md-12" id="day_header"></div></div>
            </div>
            <div class="col-md-2">
              <div class="row"><div class="col-md-12" id="weather"></div></div>
            </div>
          </div>
          <div class="row pad"><div class="col-md-12 centered" id="date"></div></div>
        </div>
        <div class="row pad">
            <div class="col-md-1"></div>
            <div class="col-md-4"><button id="clearbut" type="button" class="btn btn-block btn-outline-secondary">Clear</button></div>
            <div class="col-md-2"></div>
            <div class="col-md-4"><a href="/finalize"><button type="button" class="btn btn-block btn-info">Finish</button></a></div>          
        </div>
    </div>
</div>
{% endblock %}