{% extends "dragndrop.html" %}

{% block script %}<script type="text/javascript" src="{{ url_for('static', filename = 'shoes.js') }}"></script>
<script>
    var closedtoe={{closedtoe|tojson}}
    var opentoe={{opentoe|tojson}}
    var outfit={{outfit|tojson}}
    var currdate = {{currdate|tojson}}
</script>
{% endblock %}

{% block style3 %}
<style>
    #shoes{
        background-color: blue;
    }
    .shoes{
        padding: 10px;
    }
</style>
{% endblock %}

{% block cat1_css %}#closedtoe_header{% endblock %}
{% block cat2_css %}#opentoe_header{% endblock %}
{% block cat1_header %}<div class="col-md-5" id="closedtoe_header">Closed Toe</div>{% endblock %}
{% block cat2_header %}<div class="col-md-5" id="opentoe_header">Open Toe</div>{% endblock %}
{% block cat1_entries %}<div class="col-md-5 centered" id="closedtoe"></div>{% endblock %}
{% block cat2_entries %}<div class="col-md-5 centered" id="opentoe"></div>{% endblock %}