{% extends "dragndrop.html" %}

{% block script %}<script type="text/javascript" src="{{ url_for('static', filename = 'tops.js') }}"></script>
<script>
    var outerwear={{outerwear|tojson}}
    var innerwear={{innerwear|tojson}}
    var outfit={{outfit|tojson}}
    var currdate = {{currdate|tojson}}
</script>
{% endblock %}

{% block style3 %}
<style>
    #tops{
        background-color: blue;
    }
</style>
{% endblock %}

{% block cat1_css %}#outerwear_header{% endblock %}
{% block cat2_css %}#innerwear_header{% endblock %}
{% block cat1_header %}<div class="col-md-5" id="outerwear_header">Outer</div>{% endblock %}
{% block cat2_header %}<div class="col-md-5" id="innerwear_header">Inner</div>{% endblock %}
{% block cat1_entries %}<div class="col-md-5 centered" id="outerwear"></div>{% endblock %}
{% block cat2_entries %}<div class="col-md-5 centered" id="innerwear"></div>{% endblock %}