{% extends "layout.html" %}

{% block script %}<script type="text/javascript" src="{{ url_for('static', filename = 'yourcalendars.js') }}"></script>
<script>
    var trips={{trips|tojson}}
</script>
{% endblock %}
{% block style %} 
<style>
    h2 {
        color: #84C0C6;
    }
    .padd {
        padding-bottom: 25px;
    }
</style>
{% endblock %}
{% block content %}
    <div class="row pad">
        <div class="col-md-6"><h2>Your Calendars</h2></div>
        <div class="col-md-3"><h2>Dates</h2></div>
    </div>
    <div class="row pad">
        <div class="col-md-12" id="cals"></div>
    </div>
{% endblock %}